<div class="container">
<p id="notice"><%= notice %></p>

<h1>List of all URLs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Shortened URL</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= link_to url.long, url.long, target: '_blank' %></td>
        <td><%= link_short url %></td>
        <td><%= link_to 'info', url %></td>
        <td>
        <%= link_to url_path(url), method: :delete, title: 'Remove', data: { confirm: 'Are you sure?', toggle: 'tooltip' } do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Shorten another URL', new_url_path, class: 'btn btn-primary btn-block' %>
</div>